h1{
    color : red ;
}
 h2{
     color : red ;
 }
 ol{
     color : brown ;
 }
 .simple-highlight{
    background-color:yellow;
    
   }
   ul{
    
        font-family: "Lucida Console" ;
    
   }
   ul{
    color : brown ;
   }
   p{

    color : brown ;
   }